*.pyc
*.xml
*.ini
*.o
*.so
*.pkl
*.csv
*.xlsx
*.txt
*.lprof
*.npz
*.pdf
*.lock

.python-version

simulations
simulations/
Simulations
Simulations/
test_scripts/
__pycache__/
errors/
draft_figures/
data/
logs/
srun_test/
batch/
.idea/
_trial_temp/
.vscode/
!circuit_data_NV.csv
!requirements.txt
cartesiusdata
*checkpoints/
!csv_files/*.csv
!unit_tests/UNIT_TEST*.txt
!notebooks/*.csv
!notebooks/*.pkl
old_files/
!gate_lookup_tables/
!single_qubit_gates.pkl
!two_qubit_gates.pkl
gate_duration.txt
!results/thesis_files/csv_files/*/*.csv
!results/thesis_files/csv_files/*/*/*.csv
!results/thesis_files/figures/*/*.pdf